<mat-form-field>
  <div class="mat-flex-field" >
    <label matLabel >Teste</label>
    <i matIcon="paid" matPrefix ></i> 
    <input matCurrency matInput [formControl]="control" />
    <button type="button" matIconButton matSufix >
      <i matIcon="visibility_off"></i>
    </button>
  </div>
</mat-form-field>

<p>Value: {{control.value}}</p>

<button matIconButton  >
  <i matIcon="visibility" ></i>
</button>

<button matButton class="mat-stroked-button primary" >Bosta</button>
&nbsp;
<button matButton class="mat-flat-button primary" (click)="isChecked.setValue(!isChecked.value)">Bosta</button>
<br/>

<mat-checkbox [formControl]="isChecked" >
  Exemplo
</mat-checkbox>

<table matGrid matSort [dataSource]="dataSourceExample" >
  <ng-container matColumnDef="id" >
    <th *matHeaderCellDef align="center" width="50" >
      ID
    </th>
    <td *matCellDef="let element">
      {{element.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name" >
    <th mat-sort-header *matHeaderCellDef align="center" >
      Nome
    </th>
    <td *matCellDef="let element" >
      {{element.name}}
    </td>
  </ng-container>

  <tr *matRowDef="tableColumnsExample;let row = row" (click)="onClickRow(row)" ></tr>
</table>

<mat-expansion label="Exemplo" [viewOnDemand]="true" [containerTemplate]="expansionContent" ></mat-expansion>

<ng-template #expansionContent >
  <p>Conteúdo do expansion panel</p>

  <mat-form-field>
    <div class="mat-flex-field" >
      <label matLabel >Exemplo Select Input</label>
      <mat-select [formControl]="selectExample" tabIndex="1" >
        <mat-option *ngFor="let item of ['Teste 0', 'Teste 1','Teste 2','Teste 3']" [value]="item" >{{item}}</mat-option>
      </mat-select>
    </div>
  </mat-form-field>
</ng-template>

<mat-radio-group [formControl]="radioExample" >
  <mat-radio-button value="0" >Opção 1</mat-radio-button>
  <mat-radio-button value="1" >Opção 2</mat-radio-button>
  <mat-radio-button value="2" >Opção 3</mat-radio-button>
</mat-radio-group>

<mat-stepper>
  <mat-step> Passo 1
    <ng-template #afterStepLabel >

    </ng-template>
    <button matButton #nextStepper class="mat-stroked-button primary" >
        Proximo
    </button>
  </mat-step>
  <mat-step>
    Passo 2
    <button matButton #prevStepper class="mat-stroked-button primary" >
      Voltar
    </button>
    <button matButton #nextStepper class="mat-stroked-button primary" >
      Proximo
    </button>
  </mat-step>
  <mat-step>
    Passo 3
    <button matButton #prevStepper class="mat-stroked-button primary" >
      Voltar
    </button>
  </mat-step>
</mat-stepper>